<!-- 
-
-
Page Name: Home Page
Author: Pear Programming
Description: Is the menu page for the application. Pushes users to pages that they have selected.
-
- 
-->

<header>
	<style type="text/css"> #menuItem {color: white;}</style>
</header>
<div data-bb-type="screen" data-bb-effect="fade" style="background-color: #252525; color:white">
	<!-- Top Menu Bar 
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/face_icon.png" onclick="bb.pushScreen('settings.htm', 'settings');">Settings</div>
	</div> -->
	<section data-role="content" >  
		<h1 align="center" style="font-family:'Elephant'; font-size:55px">Restaurant Health Check</h1>        
		<h5 align="center" style="font-size:24px">By: <a style="color:white" href="http://pearprogramming.biz">Pear Programming</a></h5>
		<!-- User menu for navigation -->

		<div data-bb-type="grid-layout" data-bb-style="landscape" data-bb-header-style="solid" data-bb-header-justify="left" style="padding-top:10%">
			<div data-bb-type="group" data-bb-title="Menu">
				<div data-bb-type="row" style="padding-top:40px">
					<div data-bb-type="item" data-bb-img="images/menu_icons/G12_Book-4.png" data-bb-title="Search Restaurants" onclick="bb.pushScreen('search.htm', 'search');"></div>
					<!-- <div data-bb-type="item" data-bb-img="images/menu_icons/G12_Finder.png" data-bb-title="Special Feature" onclick="specialfeature();"></div> -->
				</div>
				<div data-bb-type="row" style="padding-top:40px">
					<div data-bb-type="item" data-bb-img="images/menu_icons/map_icon.png" data-bb-title="Map"  onclick="bb.pushScreen('maps.htm', 'maps');"></div> 
					<div data-bb-type="item" data-bb-img="images/menu_icons/contact_icon.png" data-bb-title="Other"  onclick="bb.pushScreen('contact.htm', 'contact');"></div> 
				</div>
			</div>
		</div>
	</section>
</div>

