<!---
-
-
Map Page
-
-
-->

<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
	<!-- Top Menu Bar -->
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/face_icon.png" onclick="bb.pushScreen('settings.htm', 'settings');">Settings</div>
	</div>
	<section data-role="content">
		<!-- <iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=MAP&amp;q=select+col6+from+1J6ja52aFzwQbDvJOHES-C3hHixPI3_Ab-1gFBZw&amp;h=false&amp;lat=43.4629104593371&amp;lng=-80.46892583359374&amp;z=10&amp;t=1&amp;l=col6"></iframe> -->
		<ul>
			<li>Coming soon!</li>
		</ul>
	</section>
	
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/map_icon.png">Maps</div>
	</div>
</div>
