<!-- 
-
-
Page Name: Search
Author: Pear Programming
Description: This page will prompt user for restaurant name. It will query based on user input.
-
-
-->
<script type="text/javascript" charset="utf-8">

</script>
<header>
	<style type="text/css"> #menuItem {color: white;}</style>
</header>
<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
	<!-- Top Menu Bar 
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/face_icon.png" onclick="bb.pushScreen('settings.htm', 'settings');">Settings</div>
	</div> -->
	<section data-role="content">
		<!-- User Input (restaurant name) -->
		<input type="text" placeholder="Enter a restaurant name." id="businessName"/>
		<div align="center"><div data-bb-type="button" id="searchRestaurants" onclick="displayRecords()">Search Restaurants</div></div>

		<!-- Restaurant names and infractions will go here -->
		<div id="output">
			<div id="titleName" align="center"></div>
			<div id="dataList" data-bb-type="image-list" data-bb-images="none"></div>
		</div>
		<!-- Error screen -->
		<div id="error" align="center">
		</div>
	</section>
	<!-- Bottom action Bar -->
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/icon.png">Search Restaurants</div>
	</div>
</div>
	


